<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Store</title>
        <link rel="stylesheet" href="{% static 'login/style.css' %}">
    </head>
    <body>
        <main>
            <div class="contenedor">
                <div class="backBox">
                    <h3>¿tenei cuenta?</h3>
                    <p>Inicar sesion</p>
                    <bu
                



        </main>
        
    </body>

    <script src="{% static 'home/script.js' %}"></script>
</html>

